body {
  background-color:mediumslateblue;
  border-bottom: 20px;
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
}

h1 {
  margin: 20px;
  font-size:x-large;
  font-weight: bolder; 
  text-align:left;
  color: black;
  background-color: white;
}
    
p {
  padding: 10px;
}
#first-paragraph {
  background-color:yellowgreen; color:black ;
 border-bottom: 2px solid grey; 
 padding-top: 10px;
}
#second-paragraph {
  background-color:yellowgreen ;color:black ;
}

#third-paragraph {
  background-color:yellowgreen ;color:black ;
}
  
 
#fourth-paragraph {
    background-color:yellowgreen;
    color: black;
}

                     
#fifth-paragraph { 
    background-color:yellowgreen; 
    color: black; 
}

#sixth-paragraph {
background-color:yellowgreen;
color: black;

}
#h2 {
  
  background-color:black;
  color:white;
  margin: 20px;


}
#h3 {
  
  background-color:black;
  color:white;
  font-weight: bold;
  margin: 20px;   

}
ul {
  
  list-style-type: disc;
  font-weight: bold;
  margin: 50px;
  padding-right: 20px;
  color: beige;
  
}
ol {
  
  list-style-type: decimal;
  margin: 50px;
  padding-right: 20px;
  color: beige;
  
}

  img{
 padding-bottom: 20px;
 margin-left:20px ;
 background-image: -webkit-radial-gradient();
 border-image-slice: fill;
 
  }
    footer {
   background-color: white;
   font-style: italic;
   font-size: medium;
   font-weight: bold;
   color: tomato;
   padding: 25px;
}
 

/* <p style="background-color:green; color: white ;"> what is your name?</p>    */
/* <p style="background-color: yellow; color:tomato ;"> where are you from orginally?</p> */
/* <p style="background-color: red; color: seashell ; "> do you like American football?</p> */
/* <p style="background-color: teal;color: thistle ;">   who won the superbowl last year?</p> */





     
    /* <p id="second">Am I orginally from Ethiopia ? </p> */
    /* <p id="third-paragraph">Do I like American football?</p> */
    /* <p id="fourth-paragraph">do you think software developer is my favorite field ?</p> */
    /* <p id="fifth-paragraph">Am I Arsenal soccer team fun ?</p> */

/*style="background-color :cadetblue; color: aliceblue;*/