body {
  background-color:mediumslateblue;
  border-bottom: 20px;
  border-top: 20px;
  border-left: 20px;
  border-right: 20px;
}
.hello1 {
  margin: 20px;
  font-size:xx-large;
  font-weight: bolder; 
  text-align:center;
  color: black;
  background-color: white;
}
.hello2{
  
  font-size: large;
  color:plum;
  font-weight: bold;
  font-style: italic;
  text-align:center;
} 
.hello3{
  font-size: x-large;
  color:white;
  font-style: italic;
  text-align:center;
  

}
p{
  padding: 10px;
}
#first-paragraph {
  background-color:yellowgreen; color:black ;
 border-bottom: 20px solid black; 
 padding-top: 10px;
}
#second-paragraph {
  background-color:yellowgreen ;color:black ;
}

#third-paragraph {
  background-color:yellowgreen ;color:black ;
}
  
 
#fourth-paragraph {
    background-color:yellowgreen;
    color: black;
}

                     
#fifth-paragraph { 
    background-color:yellowgreen; 
    color: black; 
}

#sixth-paragraph {
background-color:yellowgreen;
color: black;

}
h2 {
  
  background-color:black;
  color:white;
  margin: 20px;


}
h3 {
  
  background-color:black;
  color:white;
  font-weight: bold;
  margin: 20px;   

}
ul {
  
  list-style-type: disc;
  font-weight: bold;
  margin: 50px;
  padding-right: 20px;
  color: beige;
  
}
ol {
  
  list-style-type: decimal;
  margin: 50px;
  padding-right: 20px;
  color: beige;
  
  
}

  img{
 padding-bottom: 20px;
 margin-left:20px ;
 background-image: -webkit-radial-gradient();
 border-image-slice: fill;
 
  }
  .content-footer {
    margin: 50px 0;
    padding: 20px 0;
    text-align: center;
    background-color: #73A8C2;
    text-decoration: none;
  }
  .social > li {
    display: inline-block;
    margin: 0 5px;
  }
  .content-footer > p {
    color: #F7EDE1;
  }
  a {
      font-weight: bold;
      text-decoration: none;
      color: #F1C863;
  }
    
  @media only screen and (max-width: 500px) {
      .masthead {
          padding: 3em 0;
      }
      .masthead-heading {
          font-size: 3em;
      }
      .content-footer {
          padding: 2em 2.5em;
    }
  }
 

